@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-bg-color: #51489c;
  --text-color: white;
  --gallery-gap: 25px;
  --footer-font-size: 0.8em;
}

body, h1, h2, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--text-color);
  background-color: #f0f0f0;
}

header, footer {
  background-color: var(--primary-bg-color);
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav ul li {
  display: inline;
  padding-left: 25px;
  padding-right: 25px;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: black;
  text-align: center;
  padding: 25px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--gallery-gap);
  padding: 0 50px;
  margin-bottom: 20px;
}

.gallery figure {
  background-color: white;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
  display: block;
}

footer {
  font-size: var(--footer-font-size);
  color: var(--text-color);
}

@media (min-width: 700px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr); 
  }
  
  nav ul {
    justify-content: space-around;
  }
}

#menu-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.2em;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media (max-width: 999px) {
    #menu-toggle {
        display: block;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    nav ul.hidden {
        display: none;
    }

    nav ul li {
        text-align: center;
        padding: 10px 0;
    }
}
